@model Escolar_net.Models.BoletinDeCalificacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BoletinDeCalificacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>
        

<div class="card">
    <h5 class="card-header">Lista de notas</h5>
    <div class="card-body">
        @if (Model.Notas != null && Model.Notas.Any())
        {
            <ul class="list-group">
                @foreach (var nota in Model.Notas)
                {
                    <li class="list-group-item">
                        <strong>Materia:</strong> @nota.Materia?.Nombre <br />
                        <strong>Calificación:</strong> @nota.Valor?.ToString("F2")
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No hay notas asociadas a este boletín.</p>
        }
    </div>
</div>



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
