@model IEnumerable<Escolar_net.Models.A単oEscolar>

@{
    ViewData["Title"] = "Index";
}

<h1>A単o Escolar</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Fecha de Inicio</h5>
                
            </th>
            <th>
                <h5>Fecha de Fin</h5>
            </th>
            <th>
                    <h5>Estado</h5>
            </th>

            <th>
                <h5>Nombre del a単o</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

              <td>
                @Html.DisplayFor(modelItem => item.NombreA単o)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
