@model IEnumerable<Escolar_net.Models.Matricula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstudianteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstudianteMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradoMatricula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstudianteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstudianteMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradoMatricula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
